html, body {
    height: 100%;
}

html {
    padding: 20px;
    display: table;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    
    background: linear-gradient(to top, #46b1cb 0%, #e2ebf0 100%);
    display: table-cell;
    vertical-align: middle;
}

.button {
  border-radius: 8px;
  background-color: #ff0000;
  border:1px solid #b70303;
  color: white;
  text-align: center;
  font-size: 14px;
  padding:10px 10px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}
.button:hover {
    border: 1px solid #c10000;
    background-color: #c10000;
    color: white;
}
.button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.custom-select {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
}

select {
    width: 90%;
}


label{
    font-size: 13px;
}

input{
    width: 90%;
}

#text-out {
    margin: 10px auto;
    font-size: 14px;
    color: #282828;
}

.dropdown-text {
    font-size: 14px;
}
